<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmento/fragmento.html :: cabecera(titulo ='mayor salario - dto')">
</head>
<body>
<div class="container">
    <h1>empleados con mayor salario a 15000</h1>
    <td><a class="btn btn-primary" th:href="@{'/Employees/index'}">regresar</a>


        <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>apellido</th>
            <th>fecha inicio</th>
            <th>fecha fin</th>
            <th>puesto</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="em : ${empleadomayorsalario}>

            <td th:text="${em.getNombre}"></td>
            <td th:text="${ em.getApellido}"></td>
            <td th:text="${em.getFechaIncio}"></td>
            <td th:text="${em.getFechafin }"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
