<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmento/fragmento.html :: cabecera(titulo ='hhistorial empleado - dto')">
</head>
<body>
<div class="container">
    <h1>historial de empleados</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>apellido</th>
            <th>puesto</th>
            <th>departamento</th>
            <th>fecha inicio</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="em : ${  }">
            <td th:text="${  }"></td>
            <td th:text="${ }"></td>
            <td th:text="${ }"></td>
            <td th:text="${ }"></td>
            <td th:text="${ }"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
