<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmento/fragmento.html :: cabecera(titulo ='indice')">
</head>
<body class="container">
<h1>Gestión de Búsquedas</h1>
<a th:href="@{}">Empleados con Mayor Salario a 15000</a><br />                <!-- COMPLETAR -->
<a th:href="@{}">Reporte de salario máximo por departamento</a><br />                <!-- COMPLETAR -->
<a th:href="@{}">Reporte de departamento por país y ciudad</a><br>                <!-- COMPLETAR -->
<a th:href="@{}">Reporte de gerentes con experiencia</a>                <!-- COMPLETAR -->
</body>
</html>
