<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmento/fragmento.html :: cabecera(titulo ='reportes de gerentes con experencia')">
</head>

<body>
<div class="container">
    <h1>Reporte de salario maximo por departamento</h1>

    <table class="table">
        <thead>
        <tr>
            <th>departamento</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>sueldo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="em : ${  }">
            <td th:text="${  }"></td>
            <td th:text="${ }"></td>
            <td th:text="${ }"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
