<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmento/fragmento.html :: cabecera(titulo ='editar empleado')">
</head>
<body class="container">
    <h2>Editar Empleado</h2><hr />
        <form method="post" th:action="@{'/Employees/guardar'}">
            <input th:value="${}" name="territoryid" type="hidden"/>

            <div class="row">
                <div class="form-group col-6">
                    <label for="firstName">Nombre</label>
                    <input th:value="${employee.firstName}" type="text" class="form-control" name="firstName"
                           id="firstName">
                </div>
                <div class="form-group col-6">
                    <label for="lastName">Apellido</label>
                    <input th:value="${employee.lastName}" type="text" class="form-control" name="lastName"
                           id="lastName">
                </div>
            </div>

            <div class="form-group col-6">
                <label for="email">Correo Electronico</label>
                <input th:value="${employee.email}" type="text" class="form-control" name="email"
                       id="email">
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label for="category">Puesto</label>
                    <select class="form-control" name="category" id="category">
                        <option th:each="Jobs : ${listaJobs}" th:value="${Jobs.job_id}" th:text="${Jobs.job_title}"
                                th:selected="${Jobs.job_id == employee.job_id}"></option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label for="salary">Sueldo</label>
                    <input th:value="${employee.salary}" type="text" class="form-control" name="salary"
                           id="salary">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <!-- COMPLETAR -->
                </div>
                <div class="form-group col-6">

                </div>
            </div>

            <a th:href="@{'/Employee'}" class="btn btn-danger"></a><button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
    </body>
</html>