<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmento/fragmento.html :: cabecera(titulo ='lista de empleados')">
</head>

<form method="post" th:action="@{'/buscar'}">

</form>
<body>
    <div class="container">
        <h1>Lista de Empleados</h1>
        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{'/Employees/crear'}">Nuevo Empleado</a>                 <!-- COMPLETAR -->
        <form class="input-group mb-lg-3" method="post" th:action="@{'/Employees/buscar'}">
            <div class="input-group-append">
                <input name="nom" class="form-control mb-3" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form>
            <table class="table table-sm">
                <thead>
                <tr>
                    <!-- COMPLETAR -->
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">apellido</th>
                    <th scope="col">puesto</th>
                    <th scope="col">departamento</th>
                    <th scope="col">ciudad</th>
                    <th></th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <!-- COMPLETAR -->
                <tr th:each="e,i:${ listaempleado }">
                    <th th:text="${i.index+1}" scope="col"></th>
                    <th scope="col" th:text="${e.firstName}"></th>
                    <th scope="col" th:text="${e.lastName}"></th>
                    <th scope="col" th:text="${e.jobs.job_title}"></th>
                    <th scope="col" th:text="${  }"></th>
                    <th scope="col" th:text="${}"></th>
                    <td><a class="btn btn-primary" th:href="@{'/Employees/editar' + '?id=' + ${e.employeeId}}">Editar</a>
                    <td><a class="btn btn-primary" th:href="@{'/Employees/borrar' + '?id=' + ${e.employeeId}}">Editar</a>

                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>